* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("/images/wp.jpg");
  background-repeat: repeat;
}

.logo2 {
  width: 170px;
  display: block;
  margin: auto;
  margin-top: 150px;
  border-radius: 40px;
}
.logo1 {
  width: 170px;
  display: block;
  margin: auto;
  margin-top: 150px;
  border-radius: 40px;
}

h2 {
  color: rgb(8, 92, 40);
  width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 65px;
  margin-bottom: 180px;
}

.descr {
  color: rgb(8, 92, 40);
  width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 65px;
  margin-bottom: 10px;
}

.titulo-redes {
  color: rgb(7, 66, 30);
  width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 300px;
}

.redes,
a {
  color: rgb(13, 136, 60);
  text-align: center;
  font-size: 35px;
  margin-bottom: 100px;
}

.redes1, 
a{
  color: rgb(13, 136, 60);
  text-align: center;
  font-size: 35px;
  margin-bottom: 100px;
}

.title-web {
  display: block;
  color: rgb(7, 66, 30);
  text-align: center;
  margin: auto;
  margin-top: auto;
}

.title-form {
  font-size: 35px;
  margin-top: 20px;
  color: rgb(13, 136, 60);
  text-align: center;
}

.form {
  text-align: center;
  margin: auto;
  margin-bottom: 250px;
}

.form,
p {
  text-align: left;
  margin-top: 15px;
  font-weight: 600;
  color: rgb(13, 136, 60);
  font-size: 15px;
}

.form,
input {
  width: 420px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.pick {
  text-align: center;
  margin: auto;
  margin-bottom: 400px;
}

.title-pick {
  font-size: 35px;
  color: rgb(13, 136, 60);
  text-align: center;
}

.redesinp,
label {
  width: 15px;
  font-size: 15px;
  color: rgb(9, 102, 45);
}

.field {
  text-align: center;
  width: 600px;
  margin: auto;
  margin-bottom: 50px;
}

#seleccion {
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}

.title-select {
  font-size: 35px;
  color: rgb(13, 136, 60);
  text-align: center;
}

.submit {
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}

.enviar {
  width: 200px;
  background-color: rgb(13, 136, 60);
  color: rgb(255, 255, 35);
  cursor: pointer;
}
.enviar:hover {
  width: 204px;
  height: 32px;
  margin-bottom: auto;
}
